<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Internal Server Error</title>
  <link rel="stylesheet" th:href="@{/css/site.css}">
  <link rel="stylesheet" th:href="@{/css/error.css}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,700;1,300;1,500&display=swap"
        rel="stylesheet">
</head>
<body>
<header class="header">

</header>
<h1>ERROR-500</h1>
<h2>Sorry! It's broken, but it's not your fault. We fucked up!</h2>
<p>
  Please! Go back to <a th:href="@{/main}">home page</a>.
</p>
<footer class="footer">
  <div class="footer-container">
    <p class="footer-text">Ⓒ‎2022</p>
  </div>
</footer>
</body>
</html>