.main {
    display: flex;
    justify-content: center;
    /*margin-top: auto;*/
    flex-direction: row;
}

.left-container {
    width: 22%;
    height: 100%;
    margin-top: 40px;
    border-right: 3px solid #567327;
    padding-right: 20px;
    display: block;
}

.right-container {
    width: 78%;
    height: 100%;
    padding-left: 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.panel-profile {
    height: 40%;
    width: border-box;
    display: flex;
    vertical-align: top;
    background-color: #D9D9D9;
    flex-direction: column;
    margin: 20px;
    padding: 25px;
    align-items: flex-start;
}

.account-information {
    display: flex;
    flex-direction: column;

}

.first-name {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    color: black;
    margin: 10px;
}

.last-name {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    color: black;
    margin: 10px;
}

.e-mail-profile {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    color: black;
    margin: 10px;
}

.profile-info {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    font-weight: normal;
    letter-spacing: 1px;
    color: black;
    margin: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.card-input {
    display: flex;
    flex-direction: row;
    align-items: center;
}

label {
    width: 120px;
    font-weight: normal;
    font-family: 'Josefin Sans', sans-serif;
    color: rgba(0, 0, 0, 0.64);
    font-size: 18px;
    padding-left: 10px;
    margin-right: 10px;

}

input {
    width: 27em;
    height: 33px;
    /*margin: auto;*/
    outline: none;
    border: none;
    border-radius: 15px;
    margin: 10px auto;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: black;
    background-color: #D9D9D9;
}

.add-button {
    height: 50px;
    width: 150px;
    margin: 1em auto;
    padding: 0.6em;
    outline: none;
    border: none;
    border-radius: 7px;
    background-color: #BBD25D;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);

    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: black;

}

.add-button:hover {
    background-color: #91b02e;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    color: black;

}


