.delete-lot-button {
    height: 50px;
    width: 250px;
    margin-left: 20px;
    outline: none;
    border: none;
    background-color: #BBD25D;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: black;
}

button:hover {
    background-color: #91b02e;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    color: black;

}

.admin-lot-id-form {
    height: 40%;
    width: 800px;
    display: flex;
    flex-direction: column;
}

.panel-lot {
    display: flex;
    vertical-align: top;
    background-color: #D9D9D9;
    flex-direction: column;
    margin: 20px;
    align-items: center;
}

.bottom-panel-lot {
    display: flex;
    justify-content: center;
}

.for-img-auction {
    width: 140px;
    height: 120px;
    border-radius: 20px;
    margin: 95px;
    display: flex;
    align-items: center;
}

.header-title-categories {
    background: #BBD25D;
}

.top-panel-lot {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header-title-categories {
    background: #BBD25D;
}
