.left-container {
    width: 22%;
    height: 100%;
    margin-top: 40px;
    border-right: 3px solid #567327;
    padding-right: 20px;
    display: block;
}

.right-container {
    width: 78%;
    height: 100%;
    padding-left: 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.choose-category-title {
    height: 40px;
    width: 100%;
    display: flex;
    vertical-align: top;

}

.choose-title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: rgba(0, 0, 0, 0.70);
    padding: 10px;
    margin-bottom: 80px;
    margin-left: 20px;
}

.categories-list {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.categories-menu {
    height: content-box;
    width: border-box;
    padding: 20px;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

li {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    width: 300px;
    list-style-type: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 1.5px;
    color: rgba(0, 0, 0, 0.70);
}

.categories-menu li {
    cursor: pointer;

}

.categories-menu li > a {
    display: block;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.70);
}



