body {
    display: flex;
    background: white;
    flex-direction: column;
    align-items: center;
}

.header {
    background: #BBD25D;
    display: flex;
    width: 100%;
    height: 60px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #899d47;
    margin: 20px;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 1px;
    color: #677320;
    margin: 5px;
}

a {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 1px;
    color: #ad1111;
    margin: 5px;
    text-decoration: none;
}

p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 1px;
    color: #323810;
    margin: 5px;
}