.main {
    display: flex;
    justify-content: center;
    /*margin-top: auto;*/
    flex-direction: row;
}

.left-container {
    width: 22%;
    height: 100%;
    margin-top: 40px;
    border-right: 3px solid #567327;
    padding-right: 20px;
    display: block;
}

.right-container {
    width: 78%;
    height: 100%;
    padding-left: 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.panel-information {
    height: 60px;
    width: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    margin-left: 40px;
    margin-right: 60px;
    align-items: center;
}

p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
    color: black;

}

button {
    height: 40px;
    width: 150px;
    margin: 1em auto;
    padding: 0.6em;
    outline: none;
    border: none;
    background-color: #BBD25D;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);

    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: black;

}

button:hover {
    background-color: #91b02e;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    color: black;

}

.open-info-link {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.header-title-categories {
    background: #BBD25D;
}
