.title-bidders-table {
    height: 30%;
    width: 100%;
    margin: 25px;
}

.header-title-categories {
    background: #BBD25D;
}

.lot-information-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 25px;
}

.box-for-lot {
    width: border-box;
    /*height: fit-content;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 25px;
    padding: 50px;
    background-color: #D9D9D9;
}

.lot-price-button {
    margin: 20px;
}

.lot-name {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1px;
    color: black;
    margin: 5px;
}

.lot-info {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1px;
    color: black;
    margin: 5px;
}

.lot-closing-date {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 1px;
    color: black;
    margin: 5px;
}

.lot-starting-date {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 1px;
    color: black;
    margin: 5px;
}

.lot-category {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 1px;
    color: black;
    margin: 5px;
}

.lot-auction-step {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 1px;
    color: black;
    margin: 5px;
}

.lot-details-form {
    /*height: fit-content;*/
    display: flex;
}

.image-photo {
    width: 140px;
    height: 120px;
    margin: 25px;
}

.right-part-details {
    display: flex;
    flex-direction: row;
    width: 700px;
    align-items: center;
    justify-content: space-evenly;
}