.header-title-categories {
    position: relative;
    display: inline-block;
    width: 350px;
    height: 45px;
    background-color: #BBD25D;
}

.left-container {
    width: 22%;
    height: 100%;
    margin-top: 40px;
    border-right: 3px solid #567327;
    padding-right: 20px;
    display: block;
}

.right-container {
    width: 78%;
    height: 100%;
    padding-left: 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.create-lot-photo {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}

.create-lot-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

}

.create-lot-input {
    display: flex;
    flex-direction: row;
    align-items: center;
}

label {
    width: 200px;
    font-weight: normal;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    font-size: 20px;
    padding-left: 10px;
    margin: 20px;

}

input {
    width: 600px;
    height: 40px;
    /*margin: auto;*/
    outline: none;
    border: none;
    margin: 10px auto;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: black;
    background-color: #D9D9D9;
}

button {
    height: 40px;
    width: 170px;
    margin: 1em auto;
    padding: 0.6em;
    outline: none;
    border: none;
    background-color: #BBD25D;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);

    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

button:hover {
    background-color: #91b02e;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    color: black;
}

.furniture-speciality-select {
    text-align: left;
    width: 600px;
    height: 40px;
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1px;
    background-color: #D9D9D9;
}

.furniture-speciality-select:focus {
    border: 2px solid black;
    background-color: whitesmoke;
}

.medical-speciality-select {
    text-align: left;
    width: 600px;
    height: 40px;
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1px;
    background-color: #D9D9D9;
}

.medical-speciality-select:focus {
    border: 2px solid black;
    background-color: whitesmoke;
}

.jewelry-precious-stones {
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 40px;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
}

.jewelry-stones-choice {
    width: 40px;
    height: 20px;
    outline: none;
    border: none;
    margin: 5px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    color: black;
    background-color: #D9D9D9;
}

.input-file {
    position: relative;
    display: inline-block;
    width: fit-content;
    margin-left: 3px;
}

.input-file-text {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: black;
    padding: 0 10px;
    line-height: 40px;
    text-align: left;
    height: 40px;
    display: block;
    float: left;
    box-sizing: border-box;
    width: 200px;
    border-radius: 6px 0px 0 6px;
    border: 1px solid #ddd;
}

.input-file-btn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    vertical-align: middle;
    color: rgb(255 255 255);
    text-align: center;
    border-radius: 0 4px 4px 0;
    background-color: #BBD25D;
    line-height: 22px;
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
    margin: 0;
    transition: background-color 0.2s;
}

.input-file input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

.input-file input[type=file]:focus + .input-file-btn {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.input-file:hover .input-file-btn {
    background-color: #bbd27f;
}

.input-file:active .input-file-btn {
    background-color: #899d47;
}

.input-file input[type=file]:disabled + .input-file-btn {
    background-color: #eee;
}

p {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 0;
    color: darkred;
}

.hidden {
    display: none;
}

.image-photo {
    width: 140px;
    height: 120px;
    margin: 20px;
}

.lot-types {
    position: relative;
    display: inline-block;
    width: 600px;
    height: 40px;
    background-color: #D9D9D9;
}

.speciality-select {
    display: none;
    background-color: #D9D9D9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center;
    width: 600px;
    height: 40px;
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}

.header-title-categories {
    background: #BBD25D;
}

.error-bad-word {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 22px;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: darkred;
}
