.main {
    display: flex;
    justify-content: center;
    /*margin-top: auto;*/
    flex-direction: row;
}

.left-container {
    width: 22%;
    height: 100%;
    margin-top: 40px;
    border-right: 3px solid #567327;
    padding-right: 20px;
    display: block;
}

.right-container {
    width: 78%;
    height: 100%;
    padding-left: 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}


.panel-profile {
    height: 40%;
    width: border-box;
    display: flex;
    vertical-align: top;
    background-color: #D9D9D9;
    flex-direction: column;
    margin: 20px;
    padding: 25px;
    align-items: flex-start;
}

.account-information {
    display: flex;
    flex-direction: column;

}

.first-name {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1px;
    color: black;
    margin: 10px;
}

.last-name {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1px;
    color: black;
    margin: 10px;
}

.e-mail-profile {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1px;
    color: black;
    margin: 10px;
}

.phone-profile {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    font-weight: normal;
    letter-spacing: 1px;
    color: black;
    margin: 10px;
}

.passport-profile {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    font-weight: normal;
    letter-spacing: 1px;
    color: black;
    margin: 10px;
}

.add-card-button {
    height: 40px;
    width: 120px;
    margin: 15px;
    outline: none;
    border: #BBD25D;

    background-color: #BBD25D;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);

    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: black;
}

.add-card-button:hover {
    background-color: #91b02e;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    color: black;
}

.create-lot-button {
    height: 40px;
    width: 120px;
    margin: 15px;
    outline: none;
    border: #BBD25D;

    background-color: #BBD25D;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);

    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: black;
}

.create-lot-button:hover {
    background-color: #91b02e;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    color: black;
}

.create-lot-link {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: black;
    text-decoration: none;
}