<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auction - Active auctions</title>
    <link rel="stylesheet" th:href="@{/css/site.css}">
    <link rel="stylesheet" th:href="@{/css/active_auctions.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,700;1,300;1,500&display=swap"
          rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="header-title">
        <a class="header-title-text" th:href="@{/}">auction</a>
    </div>
    <div class="header-title-categories">
        <select class="header-title-select">
            <option>cars</option>
            <option>jewelry</option>
            <option>real estate</option>
            <option>furniture</option>
            <option>clothes</option>
            <option>sport equipment</option>
            <option>building equipment</option>
            <option>medical equipment</option>
            <option>other property</option>
        </select>
    </div>
    <div class="header-title-auth">
        <a class="header-title-status" th:text="${session.current_user} ?  ${session.current_user}: 'log in' "
           th:href="@{/login}"></a>
        <a class="header-title-status" th:text="${session.current_user} ?  'log out': '' "
           th:href="@{/logout}">log out</a>
        <a class="header-title-status" th:href="@{/signup}">sign up</a>
    </div>

</header>
<main class="main">
    <div class="left-container">
        <aside class="aside-list">
            <div class="aside-box">
                <a class="aside-link" th:href="@{/main}">home page</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" th:href="@{/active-auctions}">all active auctions</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" th:href="@{/categories}">categories</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" th:href="@{/profile}">personal account</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" th:href="@{/information}">information</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" th:href="@{/about_us}">about us</a>
            </div>
        </aside>
    </div>
    <div class="right-container">
        <div class="panel-active-auctions" th:each="lot : ${allActiveAuctions}">
            <div class="box-for-auction" >
                <div class="for-img-auction">
                </div>
                <div class="lot-information">
                    <p class="lot-name" th:text="${lot.lotName}">lot name</p>
                    <p class="lot-info" th:text="${lot.briefInfo}">important information about the lot</p>
                    <p class="lot-closing-date" th:text="${lot.closingDate}">trading closing date</p>
                </div>
                <div class="lot-price-button">
                    <button class="join-button" type="button" th:href="@{/lot}">
                        JOIN
                    </button>
                    <p class="lot-price" th:text="${lot.currentPrice}">150</p>
                    <p class="lot-byn">BYN</p>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="footer">
    <div class="footer-container">
        <p class="footer-text">Ⓒ‎2022</p>
    </div>
</footer>

</body>
</html>