<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auction - Add card</title>
    <link rel="stylesheet" type="text/css" href="../static/css/add-card.css">
    <link rel="stylesheet" type="text/css" href="../static/css/site.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,700;1,300;1,500&display=swap"
          rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="header-title">
        <a class="header-title-status">auction</a>
    </div>
    <div class="header-title-categories">
        <button class="header-select-button">select a category</button>
        <div class="header-title-select" th:each="category : ${allCategories}">
            <a th:href="@{/active-auctions/category/{categoryName}(categoryName=${category})}"
               th:text="${category}"></a>
        </div>
    </div>
    <div class="header-title-auth">
        <a href="" class="header-title-logout"> log out</a>
    </div>

</header>
<main class="main">
    <div class="left-container">
        <aside class="aside-list">
            <div class="aside-box">
                <a class="aside-link" href="main.html">home page</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" href="active-auctions.html">all active auctions</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" href="categories.html">categories</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" href="profile.html">personal account</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" href="information.html">information</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" href="about-us.html">about us</a>
            </div>
        </aside>
    </div>
    <div class="right-container">
        <div class="panel-profile">
            <div class="account-information">
                <p class="first-name">first name</p>
                <p class="last-name">last name</p>
                <p class="e-mail-profile">e-mail</p>
                <p class="profile-info">important information about the user</p>
            </div>
        </div>
        <form class="add-card-form">
            <div class="card-information">
                <div class="card-input">
                    <label>card number</label>
                    <input class="card-number" id="cardNumber" type="number" min="16" max="16" required/>
                </div>
                <div class="card-input">
                    <label>validity period</label>
                    <input class="validity-period" id="validityPeriod" type="number" min="4" max="4" required/>
                </div>
                <div class="card-input">
                    <label>CV code</label>
                    <input class="cv-code" id="cvCode" type="number" min="3" max="3" required/>
                </div>
            </div>
            <button class="add-button" type="button" id="addButton">
                add
            </button>
        </form>
    </div>
</main>
<footer class="footer">
    <div class="footer-container">
        <p class="footer-text">Ⓒ‎2022</p>
    </div>
</footer>

</body>
</html>