<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auction - Admin Main</title>
    <link rel="stylesheet" th:href="@{/css/site.css}">
    <link rel="stylesheet" th:href="@{/css/admin-main.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,700;1,300;1,500&display=swap"
          rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="header-title">
        <a class="header-title-text">auction</a>
    </div>
    <div class="header-title-categories">
        <button class="header-select-button">select a category</button>
        <div class="header-title-select" th:each="category : ${allCategories}">
            <a th:href="@{/active-auctions/category/{categoryName}(categoryName=${category})}"
               th:text="${category}"></a>
        </div>
    </div>
    <div class="header-title-auth">
        <a th:href="@{/logout}" class="header-title-status">log out</a>
    </div>

</header>
<main class="main">
    <div class="left-container">
        <aside class="aside-list">
            <div class="aside-box">
                <a class="aside-link" th:href="@{/admin/lots}">lots</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" th:href="@{/admin/users}">users</a>
            </div>
        </aside>
    </div>
    <div class="right-container">
        <div class="box-for-sort">
            <select class="sort-select">
                <option>by name</option>
                <option>by price</option>
            </select>
            <button class="sort-button" type="button" id="sortButton">
                sort
            </button>
            <table class="admin-table-bid-history">
                <thead>
                <tr>
                    <th> Id </th>
                    <th> LotId </th>
                    <th> BidderId </th>
                    <th> Price </th>
                    <th> Bidding date </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="lot : ${bidHistories}">
                    <td><span th:text="${lot.id}"> id</span></td>
                    <td><span th:text="${lot.lotId}"> lotId </span></td>
                    <td><span th:text="${lot.bidderEmail}"> BidderId </span></td>
                    <td><span th:text="${lot.price}"> price </span></td>
                    <td><span th:text="${lot.biddingDate}"> bidding date </span></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</main>
<footer class="footer">
    <div class="footer-container">
        <p class="footer-text">Ⓒ‎2022</p>
    </div>
</footer>

</body>
</html>