<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auction - Admin bid page</title>
    <link rel="stylesheet" type="text/css" href="../static/css/admin-main.css">
    <link rel="stylesheet" type="text/css" href="../static/css/site.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,700;1,300;1,500&display=swap"
          rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="header-title">
        <a class="header-title-text">auction</a>
    </div>
    <div class="header-title-auth">
        <a href="" class="header-title-logout"> log out</a>
    </div>

</header>
<main class="main">
    <div class="left-container">
        <aside class="aside-list">
            <div class="aside-box">
                <a class="aside-link" href="admin-main.html">home page</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" href="admin-lot-id.html">lots</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" href="admin-user-id.html">users</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" href="admin-bid-page.html">bids</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" href="admin-income-page.html">income</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" href="admin-lot-counter.html">lot counter</a>
            </div>
        </aside>
    </div>
    <div class="right-container">
        <div class="box-for-sort">
            <select class="sort-select">
                <option>by name</option>
                <option>by price</option>
            </select>
            <button class="sort-button" type="button" id="sortButton">
                sort
            </button>
        </div>
    </div>
</main>
<footer class="footer">
    <div class="footer-container">
        <p class="footer-text">Ⓒ‎2022</p>
    </div>
</footer>

</body>
</html>