<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auction - Categories</title>
    <link rel="stylesheet" type="text/css" href="../static/css/categories.css">
    <link rel="stylesheet" type="text/css" href="../static/css/site.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,700;1,300;1,500&display=swap"
          rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="header-title">
        <a class="header-title-text">auction</a>
    </div>
    <div class="header-title-categories">
        <select class="header-title-select">
            <option>cars</option>
            <option>jewelry</option>
            <option>real estate</option>
            <option>furniture</option>
            <option>clothes</option>
            <option>sport equipment</option>
            <option>building equipment</option>
            <option>medical equipment</option>
            <option>other property</option>
        </select>
    </div>
    <div class="header-title-auth">
        <a href="" class="header-title-logout"> log out</a>
    </div>

</header>
<main class="main">
    <div class="left-container">
        <aside class="aside-list">
            <div class="aside-box">
                <a class="aside-link" href="main.html">home page</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" href="active_auctions.html">all active auctions</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" href="categories.html">categories</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" href="profile.html">personal account</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" href="information.html">information</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" href="about_us.html">about us</a>
            </div>
        </aside>
    </div>
    <div class="right-container">
        <div class="panel-auctions">
            <div class="box-for-categories">
                <div class="for-img-categories">
                </div>
                <p class="title-for-categories">cars</p>
                <button class="more-detailed-button" type="button">
                    more detailed
                </button>
            </div>
            <div class="box-for-categories">
                <div class="for-img-categories">
                </div>
                <p class="title-for-categories">real estates</p>
                <button class="more-detailed-button" type="button">
                    more detailed
                </button>
            </div>
            <div class="box-for-categories">
                <div class="for-img-categories">
                </div>
                <p class="title-for-categories"> sport equipment</p>
                <button class="more-detailed-button" type="button">
                    more detailed
                </button>
            </div>
            <div class="box-for-categories">
                <div class="for-img-categories">
                </div>
                <p class="title-for-categories">jewelry</p>
                <button class="more-detailed-button" type="button">
                    more detailed
                </button>
            </div>
            <div class="box-for-categories">
                <div class="for-img-categories">
                </div>
                <p class="title-for-categories">building equipment</p>
                <button class="more-detailed-button" type="button">
                    more detailed
                </button>
            </div>
            <div class="box-for-categories">
                <div class="for-img-categories">
                </div>
                <p class="title-for-categories">clothes</p>
                <button class="more-detailed-button" type="button">
                    more detailed
                </button>
            </div>
            <div class="box-for-categories">
                <div class="for-img-categories">
                </div>
                <p class="title-for-categories">medical equipment</p>
                <button class="more-detailed-button" type="button">
                    more detailed
                </button>
            </div>
            <div class="box-for-categories">
                <div class="for-img-categories">
                </div>
                <p class="title-for-categories">medical speciality</p>
                <button class="more-detailed-button" type="button">
                    more detailed
                </button>
            </div>
            <div class="box-for-categories">
                <div class="for-img-categories">
                </div>
                <p class="title-for-categories">furniture</p>
                <button class="more-detailed-button" type="button">
                    more detailed
                </button>
            </div>
            <div class="box-for-categories">
                <div class="for-img-categories">
                </div>
                <p class="title-for-categories">furniture type</p>
                <button class="more-detailed-button" type="button">
                    more detailed
                </button>
            </div>
            <div class="box-for-categories">
                <div class="for-img-categories">
                </div>
                <p class="title-for-categories">other property</p>
                <button class="more-detailed-button" type="button">
                    more detailed
                </button>
            </div>
        </div>

    </div>
</main>
<footer class="footer">
    <div class="footer-container">
        <p class="footer-text">Ⓒ‎2022</p>
    </div>
</footer>

</body>
</html>