<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auction - Create lot Clothes</title>
    <link rel="stylesheet" type="text/css" href="../static/css/pages.css">
    <link rel="stylesheet" type="text/css" href="../static/css/site.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,700;1,300;1,500&display=swap"
          rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="header-title">
        <a class="header-title-text">auction</a>
    </div>
    <div class="header-title-categories">
        <select class="header-title-select">
            <option>cars</option>
            <option>jewelry</option>
            <option>real estate</option>
            <option>furniture type</option>
            <option>furniture</option>
            <option>clothes</option>
            <option>sport equipment</option>
            <option>building equipment</option>
            <option>medical speciality</option>
            <option>medical equipment</option>
            <option>other property</option>
        </select>
    </div>
    <div class="header-title-auth">
        <a href="" class="header-title-logout"> log out</a>
    </div>

</header>
<main class="main">
    <div class="left-container">
        <aside class="aside-list">
            <div class="aside-box">
                <a class="aside-link" href="main.html">home page</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" href="active_auctions.html">all active auctions</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" href="categories.html">categories</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" href="profile.html">personal account</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" href="information.html">information</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" href="about_us.html">about us</a>
            </div>
        </aside>
    </div>
    <div class="right-container">
        <form class="create-lot-form">
            <div class="create-lot-photo">
                <div class="for-img-lot">

                </div>
                <button class="add-photo-button" type="button" id="addPhotoButton">
                    add photo
                </button>
            </div>
            <div class="create-lot-information">
                <div class="create-lot-input">
                    <label>lot name: </label>
                    <input class="lot-name-input" id="lotName" type="text" required/>
                </div>
                <div class="create-lot-input">
                    <label>lot category: </label>
                    <input class="lot-category-input" id="lotCategory" type="text" required/>
                </div>
                <div class="create-lot-input">
                    <label>important information about the lot: </label>
                    <input class="all-lot-info" id="allLotInfo" type="text" required/>
                </div>
                <div class="create-lot-input">
                    <label>material: </label>
                    <input class="clothes-material" id="clothesMaterial" type="text" required/>
                </div>
                <div class="create-lot-input">
                    <label>brand: </label>
                    <input class="clothes-brand" id="clothesBrand" type="text" required/>
                </div>
                <div class="create-lot-input">
                    <label>size: </label>
                    <input class="clothes-size" id="clothesSize" type="number" required/>
                </div>
                <div class="create-lot-input">
                    <label>location: </label>
                    <input class="lot-location" id="lotLocation" type="text" required/>
                </div>
                <div class="create-lot-input">
                    <label>trading starting date: </label>
                    <input class="start-date" id="startDate" type="date" required/>
                </div>
                <div class="create-lot-input">
                    <label>trading closing date: </label>
                    <input class="close-date" id="closeDate" type="date" required/>
                </div>
                <div class="create-lot-input">
                    <label>starting price: </label>
                    <input class="start-price" id="startPrice" type="number" required/>
                </div>
                <div class="create-lot-input">
                    <label>auction step: </label>
                    <input class="auction-step" id="auctionStep" type="number" required/>
                </div>
            </div>
            <button class="create-lot-button" type="button" id="createLotButton">
                create lot
            </button>
        </form>
    </div>
</main>
<footer class="footer">
    <div class="footer-container">
        <p class="footer-text">Ⓒ‎2022</p>
    </div>
</footer>

</body>
</html>