<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auction - Create lot</title>
    <link rel="stylesheet" th:href="@{/css/site.css}">
    <link rel="stylesheet" th:href="@{/css/create-lot.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,700;1,300;1,500&display=swap"
          rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="header-title">
        <a class="header-title-text" th:href="@{/}">auction</a>
    </div>
    <div class="header-title-categories">
        <button class="header-select-button">select a category</button>
        <div class="header-title-select" th:each="category : ${categories}">
            <a th:href="@{/active-auctions/category/{categoryName}(categoryName=${category})}"
               th:text="${category}"></a>
        </div>
    </div>
    <div class="header-title-auth">
        <a th:href="@{/logout}" class="header-title-status">log out</a>
    </div>

</header>
<main class="main">
    <div class="left-container">
        <aside class="aside-list">
            <div class="aside-box">
                <a class="aside-link" th:href="@{/main}">home page</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" th:href="@{/active_auctions}">all active auctions</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" th:href="@{/categories}">categories</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" th:href="@{/profile}">personal account</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" th:href="@{/information}">information</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" th:href="@{/about-us}">about us</a>
            </div>
        </aside>
    </div>
    <div class="right-container">
        <div class="choose-category-title">
            <p class="choose-title">please, select a category for your lot</p>
        </div>
        <div class="categories-list">
            <ul class="categories-menu">
                <li><a th:href="@{/create/car}">cars</a></li>
                <li><a th:href="@{/create/jewelry}">jewelry</a></li>
                <li><a th:href="@{/create/real-estate}">real estate</a></li>
                <li><a th:href="@{/create/furniture}">furniture</a></li>
                <li><a th:href="@{/create/clothes}">clothes</a></li>
                <li><a th:href="@{/create/sport-equipment}">sport equipment</a></li>
                <li><a th:href="@{/create/building-equipment}">building equipment</a></li>
                <li><a th:href="@{/create/medical-equipment}">medical equipment</a></li>
                <li><a th:href="@{/create/other}">other property</a></li>
            </ul>
        </div>
    </div>
</main>
<footer class="footer">
    <div class="footer-container">
        <p class="footer-text">Ⓒ‎2022</p>
    </div>
</footer>

</body>
</html>