<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auction - Login</title>
    <link rel="stylesheet" th:href="@{/css/site.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,700;1,300;1,500&display=swap"
          rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="header-title">
        <a class="header-title-text" th:href="@{/}">auction</a>
    </div>
    <div class="header-title-categories">
    </div>
    <div class="header-title-auth">
        <a class="header-title-status" th:text="${session.current_user} ?  ${session.current_user}: 'log in' "
           th:href="@{/login}"></a>
        <a class="header-title-status" th:text="${session.current_user} ?  'log out': '' "
           th:href="@{/logout}">log out</a>
        <a class="header-title-status" th:href="@{/signup}">sign up</a>
    </div>
</header>
<main class="main">
    <p class="log-title">LOG IN</p>
    <form class="log-form" action="#" th:action="@{/login}" method="post">
        <label>e-mail</label>
        <div class="log-form-input">
            <input class="email-field" id="emailInput" type="email" name="username" placeholder="enter your e-mail"
                   required/>
            <p class="error-email hidden" id="errorEmail">wrong email</p>
        </div>
        <label>password</label>
        <div class="log-form-input">
            <input class="password-field" id="passwordInput" name="password" type="password"
                   placeholder="enter your password"
                   required/>
            <p class="error-password hidden" id="errorPassword">wrong password</p>
        </div>
        <div class="log-form-new-user">
            <a th:href="@{/signup}" class="sign-up">register as a new user</a>
        </div>
        <button class="login-button" type="submit" id="loginButton">
            log in
        </button>

    </form>
</main>
<footer class="footer">
    <div class="footer-container">
        <p class="footer-text">Ⓒ‎2022</p>
    </div>
</footer>
<script type="module" th:src="@{/js/login.js}"></script>
</body>
</html>