<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auction - Lot details</title>
    <link rel="stylesheet" th:href="@{/css/lot-details.css}">
    <link rel="stylesheet" th:href="@{/css/active-auctions.css}">
    <link rel="stylesheet" th:href="@{/css/site.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,700;1,300;1,500&display=swap"
          rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="header-title">
        <a class="header-title-text" th:href="@{/}">auction</a>
    </div>
    <div class="header-title-categories">
        <button class="header-select-button">select a category</button>
        <div class="header-title-select" th:each="category : ${categories}">
            <a th:href="@{/active-auctions/category/{categoryName}(categoryName=${category})}"
               th:text="${category}"></a>
        </div>
    </div>
    <div class="header-title-auth">
        <a th:href="@{/logout}" class="header-title-status"> log out</a>
    </div>

</header>
<main class="main">
    <div class="left-container">
        <aside class="aside-list">
            <div class="aside-box">
                <a class="aside-link" th:href="@{/main}">home page</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" th:href="@{/active-auctions}">all active auctions</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" th:href="@{/categories}">categories</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" th:href="@{/profile}">personal account</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" th:href="@{/information}">information</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" th:href="@{/about_us}">about us</a>
            </div>
        </aside>
    </div>
    <div class="right-container">
        <div class="panel-active-auctions">
            <form class="lot-details-form" action="#"
                  th:action="@{/active-auctions/lot/participate/{id}(id=${foundAuction.lot.id})}" method="get">
                <div class="box-for-lot">
                    <div class="for-img-auction">
                        <img th:src="*{'data:image/*;base64,' + foundAuction.pic}">
                    </div>
                    <div class="lot-information-box">
                        <p class="title-for-lot-info">lot name: </p>
                        <p class="lot-name" th:text="${foundAuction.lot.lotName}">lot name</p>
                        <p class="title-for-lot-info">all information about the lot: </p>
                        <p class="lot-info" th:text="${foundAuction.lot.briefInfo}">important information about the lot</p>
                        <p class="title-for-lot-info">lot category: </p>
                        <p class="lot-category" th:text="${foundAuction.lot.itemType.typeDescription}">category</p>
                        <p class="title-for-lot-info">lot starting date: </p>
                        <p class="lot-starting-date" th:text="${foundAuction.lot.startingDate}">trading starting date</p>
                        <p class="title-for-lot-info">lot closing date: </p>
                        <p class="lot-closing-date" th:text="${foundAuction.lot.closingDate}">trading closing date</p>
                        <p class="title-for-lot-info">lot auction step: </p>
                        <p class="lot-auction-step" th:text="${foundAuction.lot.step}">auction step</p>
                    </div>
                    <div class="lot-price-button">
                        <button class="join-button" type="submit">
                            JOIN
                        </button>
                        <p class="lot-price" th:text="${foundAuction.lot.currentPrice}">150</p>
                        <p class="lot-byn">BYN</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
<footer class="footer">
    <div class="footer-container">
        <p class="footer-text">Ⓒ‎2022</p>
    </div>
</footer>

</body>
</html>