<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auction - Lot</title>
    <link rel="stylesheet" th:href="@{/css/site.css}">
    <link rel="stylesheet" th:href="@{/css/lot-place-a-bet-page.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,700;1,300;1,500&display=swap"
          rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="header-title">
        <a class="header-title-text" th:href="@{/}">auction</a>
    </div>
    <div class="header-title-categories">
        <button class="header-select-button">select a category</button>
        <div class="header-title-select" th:each="category : ${allCategories}">
            <a th:href="@{/active-auctions/category/{categoryName}(categoryName=${category})}"
               th:text="${category}"></a>
        </div>
    </div>
    <div class="header-title-auth">
        <a th:href="@{/logout}" class="header-title-status"> log out</a>
    </div>

</header>
<main class="main">
    <div class="left-container">
        <aside class="aside-list">
            <div class="aside-box">
                <a class="aside-link" th:href="@{/main}">home page</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" th:href="@{/active-auctions}">all active auctions</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" th:href="@{/categories}">categories</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" th:href="@{/profile}">personal account</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" th:href="@{/information}">information</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" th:href="@{/about_us}">about us</a>
            </div>
        </aside>
    </div>
    <div class="right-container">
        <form class="lot-place-bet-form" action="#"
              th:action="@{/active-auctions/lot/participate/{id}(id=${foundAuction.lot.id})}" method="post">
            <div class="panel-lot">
                <div class="top-panel-lot">
                    <div class="for-img-lot">

                    </div>
                    <div class="lot-information">
                        <p class="lot-name" th:text="${foundAuction.lot.lotName}">lot name</p>
                        <div class="titles-for-lot">
                            <p class="lot-opening">opening of the auction: </p>
                            <p class="opening-date" th:text="${foundAuction.lot.startingDate}">2022-11-02 </p>
                        </div>
                        <div class="titles-for-lot">
                            <p class="lot-closing">closing of the auction: </p>
                            <p class="closing-date" th:text="${foundAuction.lot.closingDate}">2022-11-20 </p>
                        </div>
                        <div class="titles-for-lot">
                            <p class="lot-current-bet">current bet: </p>
                            <p class="current-bet" th:text="${foundAuction.lot.currentPrice}">100</p>
                            <p class="current-bet-byn">BYN</p>
                        </div>
                    </div>
                </div>
                <div class="bottom-panel-lot">
                    <div class="right-panel">
                        <input class="bet-field" type="number" id="betPrice" name="betPrice">
                        <button class="place-bet-button" type="submit">
                            place a bet
                        </button>
                    </div>
                </div>
            </div>
            <div class="title-all-info-lot">
                <p class="all-info-lot" th:text="${foundAuction.lot.briefInfo}">All information about the lot</p>
            </div>
        </form>
        <table class="table-bid-history">
            <thead>
            <tr>
                <th> BidderId </th>
                <th> Price </th>
                <th> Bidding date </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="lot : ${lotBidHistory}">
                <td><span th:text="${lot.bidderId}"> BidderId </span></td>
                <td><span th:text="${lot.price}"> price </span></td>
                <td><span th:text="${lot.biddingDate}"> bidding date </span></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<footer class="footer">
    <div class="footer-container">
        <p class="footer-text">Ⓒ‎2022</p>
    </div>
</footer>

</body>
</html>