<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auction - Main</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/site.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,700;1,300;1,500&display=swap"
          rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="header-title">
        <a class="header-title-text" th:href="@{/}">auction</a>
    </div>
    <div class="header-title-categories">
        <button class="header-select-button">select a category</button>
        <div class="header-title-select" th:each="category : ${categories}">
            <a th:href="@{/active-auctions/category/{categoryName}(categoryName=${category})}"
               th:text="${category}"></a>
        </div>
    </div>
    <div class="header-title-auth">
        <a class="header-title-status" th:text="${session.current_user} ?  ${session.current_user}: 'log in' "
           th:href="@{/login}"></a>
        <a class="header-title-status" th:text="${session.current_user} ?  'log out': '' "
           th:href="@{/logout}">log out</a>
        <a class="header-title-status" th:href="@{/signup}">sign up</a>
    </div>

</header>
<main class="main">
    <div class="left-container">
        <aside class="aside-list">
            <div class="aside-box">
                <a class="aside-link" th:href="@{/main}">home page</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" th:href="@{/active-auctions}">all active auctions</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" th:href="@{/categories}">categories</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" th:href="@{/profile}">personal account</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" th:href="@{/information}">information</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" th:href="@{/about-us}">about us</a>
            </div>
        </aside>
    </div>
    <div class="right-container">
        <div class="panel-for-title">
            <p class="main-title">This web auction is a real auction but in online mode.
                Each auction will be activated for a certain period of time,
                clearly displaying the start and end dates. During this period,
                you can actively participate in the auction and put your lot up
                for auction. All the necessary information is available
                on the information page of this website.</p>
        </div>
        <div class="for-advertisement">
            <div class="image-for-advertisement">
                <p class="title-for-advertisement">
                    the best place for your advertisement
                </p>
            </div>
        </div>
        <div class="panel-auctions">
            <div class="box-for-categories" th:each="category :${categories}">
                <div class="for-img-categories">
                    <img class="image-category"
                         th:src="@{${'/img/'+ category + '.jpg'}}">
                </div>
                <p class="title-for-categories" th:text="${category}">cars</p>
                <button class="more-detailed-button" type="button">
                    <a class="more-detailed-link"
                       th:href="@{/active-auctions/category/{categoryName}(categoryName=${category})}">
                        more detailed
                    </a>
                </button>
            </div>
        </div>
    </div>
</main>
<footer class="footer">
    <div class="footer-container">
        <p class="footer-text">Ⓒ‎2022</p>
    </div>
</footer>

</body>
</html>