<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auction - Create lot Medical equipment</title>
    <link rel="stylesheet" th:href="@{/css/pages.css}">
    <link rel="stylesheet" th:href="@{/css/site.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,700;1,300;1,500&display=swap"
          rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="header-title">
        <a class="header-title-text" th:href="@{/}">auction</a>
    </div>
    <div class="header-title-categories">
    </div>
    <div class="header-title-auth">
        <a th:href="@{/logout}" class="header-title-status"> log out</a>
    </div>

</header>
<main class="main">
    <div class="left-container">
        <aside class="aside-list">
            <div class="aside-box">
                <a class="aside-link" th:href="@{/main}">home page</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" th:href="@{/active-auctions}">all active auctions</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" th:href="@{/categories}">categories</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" th:href="@{/profile}">personal account</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" th:href="@{/information}">information</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" th:href="@{/about_us}">about us</a>
            </div>
        </aside>
    </div>
    <div class="right-container">
        <form class="create-lot-form" action="#" th:action="@{/create/medical-equipment}" enctype="multipart/form-data" method="post">
            <div class="create-lot-photo">
                <label class="input-file">
                    <input class="image-photo" type="file" name="image" accept="image/*">
                    <span class="input-file-btn">choose a file</span>
                    <span class="input-file-text" type="text"></span>
                </label>
            </div>
            <div class="create-lot-information">
                <div class="create-lot-input">
                    <label>lot name: </label>
                    <input class="lot-name-input" id="lotName" type="text" th:field="*{newLot.lotName}" required/>
                </div>
                <div class="create-lot-input">
                    <label>important information about the lot: </label>
                    <input class="all-lot-info" id="allLotInfo" type="text" th:field="*{newLot.briefInfo}" required/>
                </div>
                <div class="create-lot-input">
                    <label>medical type: </label>
                    <select th:field="*{newMedicalEquipment.medicalSpeciality}" class="medical-speciality-select"
                            id="MedicalEquipment" name="medicalEquipment">
                        <option value="">select a speciality</option>
                        <option
                                th:each="speciality : ${medicalSpecialities}"
                                th:value="${speciality.typeDescription}"
                                th:text="${speciality.typeDescription}"></option>
                    </select>
                </div>
                <div class="create-lot-input">
                    <label>brand: </label>
                    <input class="medical-equipment-brand" id="medicalEquipmentBrand" type="text"
                           th:field="*{newMedicalEquipment.brand}" required/>
                </div>
                <div class="create-lot-input">
                    <label>manufacture year: </label>
                    <input class="medical-equipment-manufacture-year" id="medicalEquipmentManufactureYear" type="number"
                           th:field="*{newMedicalEquipment.manufactureYear}" max="2022" required/>
                </div>
                <p class="error-medical-manufacture-year hidden"
                   id="medicalManufactureYearError">manufacture year is invalid</p>
                <div class="create-lot-input">
                    <label>trading starting date: </label>
                    <input class="start-date" id="startDate" type="date"
                           th:value="*{newLot.startingDate}" th:field="*{newLot.startingDate}" required/>
                </div>
                <div class="create-lot-input">
                    <label>trading closing date: </label>
                    <input class="close-date" id="closeDate" type="date"
                           th:value="*{newLot.closingDate}" th:field="*{newLot.closingDate}" required/>
                </div>
                <div class="create-lot-input">
                    <label>starting price: </label>
                    <input class="start-price" id="startPrice" type="number" th:field="*{newLot.startingPrice}" required/>
                </div>
                <div class="create-lot-input">
                    <label>auction step: </label>
                    <input class="auction-step" id="auctionStep" type="number" th:field="*{newLot.step}" required/>
                </div>
            </div>
            <button class="create-lot-button" type="submit" id="createLotButton">
                create lot
            </button>
        </form>
    </div>
</main>
<footer class="footer">
    <div class="footer-container">
        <p class="footer-text">Ⓒ‎2022</p>
    </div>
</footer>
<script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
<script th:src="@{/js/imageinput.js}"></script>
<script type="module" th:src="@{/js/medical-creation.js}"></script>
</body>
</html>