<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auction - Profile</title>
    <link rel="stylesheet" th:href="@{/css/site.css}">
    <link rel="stylesheet" th:href="@{/css/profile.css}">
    <link rel="stylesheet" th:href="@{/css/active-auctions.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,700;1,300;1,500&display=swap"
          rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="header-title">
        <a class="header-title-text" th:href="@{/}">auction</a>
    </div>
    <div class="header-title-categories">
        <button class="header-select-button">select a category</button>
        <div class="header-title-select" th:each="category : ${categories}">
            <a th:href="@{/active-auctions/category/{categoryName}(categoryName=${category})}"
               th:text="${category}"></a>
        </div>
    </div>
    <div class="header-title-auth">
        <a th:href="@{/logout}" class="header-title-status"> log out</a>
    </div>

</header>
<main class="main">
    <div class="left-container">
        <aside class="aside-list">
            <div class="aside-box">
                <a class="aside-link" th:href="@{/main}">home page</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" th:href="@{/active-auctions}">all active auctions</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" th:href="@{/categories}">categories</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" th:href="@{/profile}">personal account</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" th:href="@{/information}">information</a>
            </div>
            <div class="aside-box">
                <a class="aside-link" th:href="@{/about-us}">about us</a>
            </div>
        </aside>
    </div>
    <div class="right-container">
        <div class="panel-profile">
            <div class="account-information">
                <p class="first-name" th:text="${current_user.firstName}">first name</p>
                <p class="last-name" th:text="${current_user.lastName}">last name</p>
                <p class="e-mail-profile" th:text="${current_user.email}">e-mail</p>
                <p class="phone-profile" th:text="${current_user.phone}">phone</p>
                <p class="passport-profile" th:text="${current_user.passportData}">passport</p>
            </div>
            <button class="create-lot-button" type="button">
                <a class="create-lot-link" th:href="@{/create}">
                    create lot
                </a>
            </button>
        </div>
        <div>
            <div class="panel-active-auctions" th:each="auction : ${usersAuctions}">
                <div class="box-for-auction">
                    <div class="for-img-auction">
                        <img class="image-photo" th:src="*{'data:image/*;base64,' + auction.pic}">
                    </div>
                    <div class="right-box">
                        <div class="lot-information">
                            <p class="title-for-lot-info">lot name: </p>
                            <p class="lot-name" th:text="${auction.lot.lotName}">lot name</p>
                            <p class="title-for-lot-info">lot information: </p>
                            <p class="lot-info" th:text="${auction.lot.briefInfo}">important information about the
                                lot</p>
                            <p class="title-for-lot-info">lot closing date: </p>
                            <p class="lot-closing-date" th:text="${auction.lot.closingDate}">trading closing date</p>
                            <p class="title-for-lot-info">lot current price: </p>
                            <p class="lot-closing-date" th:text="${auction.lot.currentPrice}">trading closing date</p>
                            <p class="title-for-lot-info">auction step: </p>
                            <p class="lot-closing-date" th:text="${auction.lot.step}">trading closing date</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="footer">
    <div class="footer-container">
        <p class="footer-text">Ⓒ‎2022</p>
    </div>
</footer>

</body>
</html>