<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auction - Sign Up</title>
    <link rel="stylesheet" th:href="@{/css/site.css}">
    <link rel="stylesheet" th:href="@{/css/signup.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,700;1,300;1,500&display=swap"
          rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="header-title">
        <a class="header-title-text" th:href="@{/}">auction</a>
    </div>
    <div class="header-title-categories">
    </div>
    <div class="header-title-auth">
        <a class="header-title-status" th:href="@{/login}"> log in</a>
    </div>

</header>
<main class="main">
    <p class="sign-title">SIGN UP</p>
    <form class="sign-form" action="#" th:action="@{/signup}" th:object="${new_user}" method="post">

        <label>first name</label>
        <div class="sign-form-input">
            <input class="firstname-field" id="firstnameInput" type="text" placeholder="enter your first name"
                   th:field="*{firstName}" required/>
        </div>
        <label>last name</label>
        <div class="sign-form-input">
            <input class="lastname-field" id="lastnameInput" type="text" placeholder="enter your last name"
                   th:field="*{lastName}" required/>
        </div>
        <label>phone number</label>
        <div class="sign-form-input">
            <input class="phone-number-field" id="phone-numberInput" type="number" placeholder="enter your phone number"
                   th:field="*{phone}" required/>
        </div>
        <label>e-mail</label>
        <div class="sign-form-input">
            <input class="email-field" id="emailInput" type="text" placeholder="enter your e-mail" th:field="*{email}"
                   required/>
        </div>
        <label>password</label>
        <div class="sign-form-input">
            <input class="password-field" id="passwordInput" type="password" placeholder="enter your password"
                   th:field="*{password}" required/>
            <p class="error-signup" id="errorPassword" hidden="true">too short</p>
        </div>
        <label>passport id</label>
        <div class="sign-form-input">
            <input class="id-field" id="idInput" type="text" placeholder="enter your id" th:field="*{passportData}"
                   required/>
        </div>
        <div class="form-checkbox">
            <input id="checkbox-signup" type="checkbox" class="checkbox-signup" required>
            <label class="label-for-checkbox" for="checkbox-signup">By selecting this box you are acknowledging the User
                Agreement</label>
        </div>
        <button class="signup-button" type="submit" id="signupButton">
            sign up
        </button>

    </form>
</main>
<footer class="footer">
    <div class="footer-container">
        <p class="footer-text">Ⓒ‎2022</p>
    </div>
</footer>

</body>
</html>